


{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
     .site-footer h3 {
        color: #fff;
    }
.footer-links{
    padding-left:0;
    list-style:none;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.subfooter {
    /*background-color:#26272b;
    color:red;
    padding: 10px;
    text-align:center;
    margin-right: 889.5px;*/
    margin:0;
}
.navbar-inverse {
    background-color: #000000;
    border-color: #080808;
}

.divider{
    width:100%;
    height:0.5px;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
  
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:black;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*start home*/

/*navbar*/
.home{
    /*background-color: blueviolet;
    padding-bottom: 90px;*/
    background-color: white;
    height: 80px;
}
.home .opacit{
   
    /*opacity:0;*/
}
/*img{
    position:absolute;
    z-index:-1;
    background-size:cover;
    background-position:center center;
}*/

.home ul{
    list-style:none; 
     float:right;
     padding-top:30px;
}
.home a{
    text-decoration:none;
    color:black;
    opacity:0.7;
}
.home .post, .home .want{
    border: 0px solid lightseagreen;
    padding: 10px;
    margin-top: 4px;
    font-size: 15px;
    cursor:pointer;
    text-decoration:none;
    transition:all 0.7s ease-in-out;
    border-radius:10px;
   font-weight:bold;
   opacity:1;
}
.home .want{
    margin-left: -20px;
}
.home .post{
    color:lightseagreen;
     background-color: #fff;
}
.home .post:hover{
    background-color :lightseagreen;
color: #fff;
}
.home .want{
   background-color :lightseagreen;
color: #fff;
}
.home .want:hover{
   
border:1px solid white;
}

.home.a1{
    background: #5dd28e !important;
}
.home a:hover{
    text-decoration:none;
    /*color:white;
    border: 1px solid white;
      background-color:white;
    color:lightseagreen;*/
}
.home ul li{
       display:inline-block;
    padding-right:20px;
    font-size:16px;
    transition:all 0.5s ease-in-out;
    cursor:pointer;
}

.home ul li:hover{
    /*transform:scale(1.1);*/
  
}
.paddingtop{
    padding-top:200px;
}
.navbar-default .navbar-brand {
       color: black;
    font-size: 25px;
    line-height: 50px;
    margin: 0px 70px;
    font-size: 3rem;
}
.content-one{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/login4.jpeg);
    background-size: cover;
    background-position: top center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.p1{
    padding-top:100px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: white;
}
.p2{
    padding-top:20px;
     font-size: 50px;
     color:white;
     line-height: 1;
     
}
.p2 p{
    font-weight:0
}
/*end nav bar*/
/*start login*/
/* Full-width input fields */
.in1 {
    width:50%;
    outline:none;
    padding:10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 10px;
    box-sizing: border-box;
    transition:all 0.5s ease-in-out;
    margin-bottom:10px
}

.modal-content .container{
    background-color: white;
    padding-bottom:30px;
    padding-top:30px;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
/*margin-top:40px*/
}

input:hover,select:hover{
transform:scale(1.01);
border: 1px solid #666;

}
/* Set a style for all buttons */
button {
  background-color: lightseagreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}
/* Extra styles for the cancel button */

/* Center the image and position the close button */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  padding-top: 60px;
  padding-bottom:40px;
  
}
.modal p{
/*background-color: #fefefe;*/
    margin: 0;
    margin-bottom: 0;
    padding-top: -10px;
    text-align: center;
    /* width: 10%; */
    font-size: 40px;
    /* margin-left: 400px; */
    border-radius: 10px;
    padding-bottom: 10px;
   
}

/* Modal Content/Box */
.modal-content {

  /*background-color: #fefefe;*/
 /* margin: 5% auto 15% auto;  5% from the top, 15% from the bottom and centered */
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:15%;
  border: 1px solid #888;
  /*width: 40%;*/ 
   padding-bottom:40px;
    
      border-radius: 10px;
      position:relative;
      text-align:center;
}
.close{
    position: absolute;
    right: 20px;
    top: 5px;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;

}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*end login*/

/* change in bootstrap*/
.navbar-fixed-top, .navbar-fixed-bottom {
    
    border-width: 0 0 0px;
}

/*****************************update style of home**************************/
.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored .btu-success{
    color:black;
    background-color:white;
    border:none;
}

 .dropdown-menu li a:hover{
    color:white;
    background-color:#157efb;

}
 .job-applicants{
         padding: 10px 30px;
         transition:all 0.5s ease-in-out;
 }
 .job-applicants:hover{
     box-shadow:0px 7px 10px -5px rgba(0, 0, 0, 0.7);
 }

 .job-applicants i{
       color: #ffb307;
 }
 .job-title{
     padding-left:45px;
     padding-right:5px;
    color: #ffb307;
    font-weight: 700;
        font-size: 18px;
 }
 .job-name{
     display:inline-block;
     font-size: 24px;
    padding-left: 5px;
 }

table th{
    padding-right: 45px;
     padding-left: 45px;
}
table th .fa-arrow-down{
    color:#ffb307;
    cursor:pointer
}
table tr:nth-of-type(1){
 color:#6c757d
}
.job-name-details{
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.2;
    margin: 2px 0 7px;
}
.company-name-details{
    font-size: 1.2em;
    color:blue
}
.details{
     padding: 10px 30px;
}
.company-location-details{
    color:gray;
    margin-left:5px
}
/*.apply{
    margin-top:0px;
    width:26%;
}*/
h5{
    margin-bottom:-4px
}
.btn{
    width:initial;
}
/*.apply-for-jop{
    position:fixed;
    width:100%;
    height:0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    overflow:hidden;
    text-align:center
}*/
.apply-jop{
    /*background-image:url('/images/basic.jpg');*/
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/images/basic.jpg') no-repeat top  center fixed;
    background-size:cover;
   padding-bottom:163px;
    overflow:hidden;
    text-align:center;
    background-color: blueviolet;

}
 .apply input[type="file"]{
   margin-left: 31px;
    margin-bottom: 12px;
}
 .apply input[type="text"]{
  
        margin-bottom: 12px;
}
 .apply label{
     color:white;
 }
.apply input[type="submit"] {
    background-color:#ffc107;
    border: 1px solid #ffc107;
}
.apply .form-control {
     height: 41px !important; 
     font-size: 15px;   
    display: inline;
    width: inherit;
    /*line-height: 1.8;*/
}

.apply .close{
    color:gray;
}
.apply .close:hover{
    color:white;
   
}

/*.apply-jop-content{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding: 74px 0px;
}*/

/*************edit profile****************/
.form-horizontal{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/5.jpg) no-repeat top center fixed;
    background-size: cover;
    background-position: left;
    padding: 115px 0px;
   
}

.profile-content {
 background-color: rgba(255,255,255,0.1);
    width: 42%;
  border-radius:10px;
    margin: auto;
    padding: 10px 175px;
}
.profile-content .form-control{
    height: 41px !important;
  margin-bottom:10px;
    font-size: 17px;
    display: block;
    width: inherit;
}
.profile-content h3{
    color: white;
    font-weight: 600;
    text-align: center;
    /*padding: 10px;*/
}
.profile-content button{
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 139%;
    border-radius: 6px;
}
/**************************start jobs-user********************/
.jobs-user{
      background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/5.jpg) no-repeat center ;
    background-size: cover;
    background-position-y: inherit;
 padding: 56px 83px;
 margin-bottom: 54px;
}
.jobs-user p{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.jobs-table table{
    background-color: white;
    border-radius:6px;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.2;
    font-weight: unset !important;
    transition:all 0.5s ease-in-out;
}
.jobs-table table tr:nth-of-type(1){
        color: #6c757d;
        background-color: #6c7ae0;
        color: white;
    }
.jobs-table table th{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 34px;
    }
.jobs-table table td{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 36px;
    padding-right: 36px;
   color:#343a40ab;
}
.jobs-table table tr:not(:last-child){
   
    border-bottom: 1px solid #6c757d33;
}
.before-table{
    text-align:-webkit-center;
    border-radius:10px;
}
.jobs-table tr:hover{
    background-color:#6c757d2b;
}
.jobs-table .fa-trash-alt,.fa-trash-alt{
    color:#dc3545;
    cursor:pointer;
}
.jobs-table .fa-pencil-alt,.fa-pencil-alt{
    color:gold;
    cursor:pointer
}

/*dropdown header update*/
.dropdown-menu.show li {
    transition:all 0.5s;

}
.dropdown-menu.show li:hover{
    transform:translateX(10px);

}
.taplogin{
    float: left;
    background-color: white;
    padding: 6px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 21px;
    margin-right: 6px;
    cursor:pointer;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.taplogin .si{
    background-color:lightseagreen
}
.taplinkgreen{
    background-color:lightseagreen;
}
.taplinkwhite{
       background-color: white;
}
.signup{
    display:none
}

/******************update contact***********/
.update-contact {
    width: 89%;
    background: white;
    padding: 37px;
}
/******************input-search**************/
.input-search{
  width: 127px;
    border: 1px ;
    padding: 13px;
    background: gold;
    color: white;
    cursor: pointer;
   transition:all 0.3s ease-in-out;
   border:none;
   border-radius:8px;
   font-weight:bold
}
.input-search:hover{
  color:gold;
  background:white;
  border:none;
  
}
/**********screen delete***********/
.modal-dialog h3,.modal-dialog h4{
    color:white
}
.modal-dialog .btn-default,.modal-dialog .btn-sucess,.modal-dialog .close{
    cursor:pointer
}
/*************eye******************/
.div-eye{
    position:relative
}
.eye{
    position: absolute;
    top: 42px;
    right: -9px;
    cursor:pointer;
    transition:all 0.2s ease-in-out
}
/***************logo company*********************/
.logo-company{
       float: right;
    margin-right: -14px;
    margin-top: -90px;
    width: 14%;
    height: 58%;
}



