
<div class="apply-jop">
    <div class="ftco-section ">
        <div class="">
            <div class="apply">
                <h1 style="color:white">You are not ready for any job</h1>
            </div>
        </div>
    </div>
</div>